.advert-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.container-form {
  max-width: 856px;
}

span {
  color: #ef4444;
}

.input-form {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 856px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  height: 48px;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #1e293b;
}

.input-form:focus-visible {
  outline: none;
  border-color: #3b82f6;
}

.text-input {
  max-width: 856px;
  min-height: 168px;
  resize: none;
}

.label-form {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1e293b;
  margin-bottom: 8px;
}

.flex {
  display: flex;
}

.load-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  gap: 8px 0;
  background: #f8fafc;
  font-size: 14px;
}

.load-img input {
  display: none;
}

.load-btn {
  display: flex;
  align-items: center;
  height: 35px;
  margin-right: 16px;
  padding: 7.5px 12px;
  font-size: 14px;
  line-height: 24px;
  color: white;
  background: #3b82f6;
  border-radius: 4px;
  transition: 200ms;
  cursor: pointer;
}

.load-btn:hover {
  opacity: 0.8;
}

.pi {
  padding-right: 8px;
}

.submit {
  margin-top: 8px;
  border: none;
  font-size: 18px;
  padding: 12px;
}

.rules {
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
  margin: 8px 0 32px;
}

.rules a {
  text-decoration: none;
  color: #3b82f6;
  cursor: pointer;
}

.rules a:hover {
  text-decoration: underline;
}

@media (max-width: 1399.98px) {
  .container {
    padding: 24px 12.8px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 12.8px 12.8px;
  }

  label.load-btn {
    margin-right: 10px;
    font-size: 10px;
  }

  .advert-title {
    font-size: 22px;
    margin: 12px 0;
  }

  .input-form.load-img {
    font-size: 12px;
    padding: 6px 12px;
  }

  .load-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .input-form {
    font-size: 14px;
    padding: 8px 12px;
    height: 40px;
  }

  .pi-image {
    display: none;
  }

  label.load-btn {
    max-width: 60%;
    max-height: 100%;
  }

  .submit {
    font-size: 16px;
  }

  .rules {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .advert-title {
    font-size: 20px;
    margin: 12px 0;
  }
  label.load-btn {
    margin-right: 10px;
    font-size: 12px;
  }
  .input-form.load-img {
    font-size: 10px;
    padding: 6px 12px;
  }
  .load-btn {
    font-size: 12px;
    padding: 8px 12px;
  }
  .input-form {
    font-size: 12px;
    padding: 8px 12px;
    height: 40px;
  }
  .pi-image {
    display: none;
  }
  .label-form {
    font-size: 12px;
  }
  label.load-btn {
    max-width: 60%;
    max-height: 100%;
  }
  .submit {
    font-size: 16px;
  }
  .rules {
    font-size: 12px;
  }
  .p-cascadeselect-label {
    min-width: 10rem;
  }
}
