<div class="container">
  <h2>Новое объявление</h2>
  <form class="container-form"
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()">
    <div class="label-form">
      <label>
        Выберите категорию
      </label>
      <p-cascadeSelect
        class="input"
        (click)="markCategory()"
        [options]="categories"
        [optionGroupChildren]="['subCategories']"
        formControlName ="category"
        optionLabel="name"
        optionGroupLabel="name"
        placeholder="Нажмите, чтобы выбрать"
      ></p-cascadeSelect>
      <ng-container *ngIf="productForm.get('category')?.touched">
        <p class="alert" *ngIf="productForm.get('category')?.errors?.['required']">
          Обязательное поле
        </p>
      </ng-container>
    </div>
    <div>
      <label class="label-form">
        Название объявления
      </label>
      <input
        class="input-form"
        formControlName="name"
        placeholder="Что хотите продать?"/>
      <ng-container >
        <p class="alert" *ngIf="productForm.get('name')?.errors?.['required'] &&
          productForm.get('name')?.touched">
          Обязательное поле для заполнения
        </p>
        <p class="alert"
           *ngIf="productForm.get('name')?.errors?.['minlength']">
          Минимальная длина названия - 3 символа
        </p>
      </ng-container>
    </div>
    <div>
      <label class="label-form">Описание</label>
      <textarea
        class="input-form text-input"
        placeholder="Расскажите подробнее о товаре или услуге"
        formControlName="description"></textarea>
      <ng-container >
        <p class="alert" *ngIf="productForm.get('description')?.errors?.['required'] &&
          productForm.get('description')?.touched">
          Заполните описание
        </p>
        <p class="alert" *ngIf="productForm.get('description')?.errors?.['minlength']">
          Минимальная длина описания - 30 символов
        </p>
        <p class="alert" *ngIf="productForm.get('description')?.errors?.['maxlength']">
          Максимальная длина описания - 300 символов
        </p>
      </ng-container>
    </div>
    <div>
      <label class="label-form">
        Адрес (место проведения сделки)
      </label>
      <input
        class="input-form"
        placeholder="Начните вводить адрес"
        formControlName="address">
      <ng-container >
        <p class="alert mb-4" *ngIf="productForm.get('address')?.errors?.['required'] &&
          productForm.get('address')?.touched">
          Обязательное поле для заполнения
        </p>
      </ng-container>
    </div>
    <span >
  <p-fileUpload
    class="upload-file"
    chooseIcon="pi pi-images"
    chooseLabel="Добавить картинки"
    name="files[]"
    (onRemove)="imageRemove($event)"
    (onSelect)="imageSelected($event)"
    [fileLimit]="10"
    [customUpload]="true"
    [multiple]="true"
    [auto]="true">
    <ng-template pTemplate="toolbar">
     <p class="alert"
        *ngIf="productForm.get('imageUrl')?.errors?.['required']">
          Необходимо загрузить изображение
     </p>
    </ng-template>
  </p-fileUpload>
  <small *ngIf="imagesError">
  </small>
</span>
    <div>
      <label class="label-form">
        Цена
      </label>
      <input class="input-form"
             type="text"
             placeholder="0 ₽"
             formControlName="price">
      <ng-container >
        <p class="alert" *ngIf="productForm.get('price')?.errors?.['required'] &&
          productForm.get('price')?.touched">
          Введите цену
        </p>
      </ng-container>
    </div>
    <ng-container *ngIf="!isLoading; else loading">
      <button [disabled]="productForm.invalid" class="submit">Разместить объявление</button>
    </ng-container>
    <ng-template #loading>
      <p-progressSpinner strokeWidth="4"
                         animationDuration="4s"></p-progressSpinner>
    </ng-template>
    <p class="alert">{{error}}</p>
  </form>
  <p class="rules">
    Нажимая кнопку «Разместить объявление»<br/>
    Вы соглашаетесь с <a>правилами площадки</a>
  </p>
</div>
