h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.container-form {
  max-width: 856px;
}
.input{
  display: block;
  width: 100%;
  margin: 8px 0;
  font-size: 16px;
  line-height: 24px;
}

::ng-deep .p-cascadeselect{
  border-radius: 4px;
  margin-bottom: 0;
}

::ng-deep form p-progressSpinner .p-progress-spinner{
  width: 32px;
  height: 32px;
  margin: 0 12px;
}

::ng-deep .ng-invalid.ng-touched > .p-cascadeselect{
  border-color:#EF4444;
}

::ng-deep .p-cascadeselect:not(.p-disabled).p-focus{
  box-shadow: none;
  border-color: #3B82F6;;
}

.input-form {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 856px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  height: 48px;
  padding: 12px;
  font-size: 16px;
  margin-top: 6px;
  color: #1e293b;
}

.input-form:focus-visible {
  outline: none;
  border-color: #3b82f6;
}

.text-input {
  max-width: 856px;
  min-height: 168px;
  resize: none;
}

.alert{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #EF4444;
}

.label-form {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1e293b;
  margin-top: 8px
}

.flex {
  display: flex;
  flex-direction: column;
}

.load-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  gap: 8px 0;
  background: #f8fafc;
  font-size: 14px;
}

.load-img input {
  display: none;
}

button, .load-btn{
  color: white;
  background: #3B82F6;
  border-radius: 4px;
  transition:200ms;
  cursor:pointer;
}

.load-btn:hover {
  opacity: 0.8;
}

.pi {
  padding-right: 8px;
}

.submit {
  margin-top: 8px;
  font-size: 18px;
  border: none;
  padding: 12px;
}

.submit:disabled{
  opacity: .8;
}

.add-link {
  margin-left:16px;
  color: black;
}

.new-add-link a{
  color: #3B82F6;
}

.rules {
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
  margin: 8px 0 32px;
}

.rules a {
  text-decoration: none;
  color: #3b82f6;
  cursor: pointer;
}

.rules a:hover {
  text-decoration: underline;
}

@media (max-width: 1399.98px) {
  .container {
    padding: 24px 12.8px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 12.8px 12.8px;
  }

  label.load-btn {
    margin-right: 10px;
    font-size: 10px;
  }

  .advert-title {
    font-size: 22px;
    margin: 12px 0;
  }

  .input-form.load-img {
    font-size: 12px;
    padding: 6px 12px;
  }

  .load-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .input-form {
    font-size: 14px;
    padding: 8px 12px;
    height: 40px;
  }

  .pi-image {
    display: none;
  }

  label.load-btn {
    max-width: 60%;
    max-height: 100%;
  }

  .submit {
    font-size: 16px;
  }

  .rules {
    font-size: 12px;
  }
}

@media screen and (min-width:576.98px) and (max-width: 991.98px){
  ::ng-deep p-overlay .p-overlay{
    min-width: 208px !important;
  }
}

@media (max-width: 575.98px) {
  ::ng-deep p-cascadeSelect .p-cascadeselect-item-active>.p-cascadeselect-sublist{
    left:0;
    top:90%;
  }

  .advert-title {
    font-size: 20px;
    margin: 12px 0;
  }
  label.load-btn {
    margin-right: 10px;
    font-size: 14px;
  }
  .input-form.load-img {
    font-size: 14px;
    padding: 6px 12px;
  }
  .load-btn {
    font-size: 14px;
    padding: 8px 12px;
  }
  .input-form {
    font-size: 14px;
    padding: 8px 12px;
    height: 40px;
  }
  .label-form {
    font-size: 14px;
  }
  label.load-btn {
    max-width: 60%;
    max-height: 100%;
  }
  .submit {
    font-size: 16px;
  }
  .rules {
    font-size: 14px;
  }
}
