.recommendations-title {
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.ads-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(12.5rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
}
.container {
  max-width: 80rem;
  margin: auto;
  padding-block: 2rem;
}

@media (max-width: 1399.98px) {
  .recommendations-title {
    padding: 0 0 1.5rem 0.8rem;
  }
  .ads-grid {
    padding-inline: 0.8rem;
  }
}

@media (max-width: 991.98px) {
  .ads-grid {
    grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
  }
}

@media (max-width: 575.98px) {
  .ads-grid {
    grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
  }
}




