<ng-container *ngIf="product; else skeleton">
  <a class="cont" routerLink="/product/{{product.id}}">
    <div class="wrapper">
      <img [src]="product.imageUrl" class="image">
    </div>
    <h4 class="title">{{product.name}}</h4>
    <p class="price">{{product.price ? (product.price).toLocaleString() + ' ₽' : "Цена не указана"}} </p>
    <p class="address">{{product.address}}</p>
    <p class="date">{{product.createdAt | date:'d MMMM':'':'ru' | titlecase}}
      <span class="date">в {{product.createdAt | date:'HH:mm'}}</span>
    </p>
  </a>
</ng-container>
<ng-template #skeleton>
  <div>
    <p-skeleton width="100%" height="240px" styleClass="mb-2"></p-skeleton>
    <p-skeleton
      class="skeleton-item"
      styleClass="mb-2"
      width="80%"
      height="22px"
    ></p-skeleton>
    <p-skeleton
      class="skeleton-item"
      styleClass="mb-2"
      width="60%"
      height="22px"
    ></p-skeleton>
    <p-skeleton
      class="skeleton-item"
      styleClass="mb-2"
      width="50%"
      height="18px"
    ></p-skeleton>
    <p-skeleton
      class="skeleton-item"
      styleClass="mb-2"
      width="40%"
      height="18px"
    ></p-skeleton>
  </div>
</ng-template>
