.my-products-title {
  padding-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(12.5rem, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
}

.new-product {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background: rgba(59, 130, 246, 0.04);
  border: 3px dashed rgba(59, 130, 246, 0.16);
  border-radius: 4px;

  &:hover {
    transform: scale(.9);
  }

  &__text {
    line-height: 1.5rem;
    font-size: 1.125rem;
    color: #3B82F6;
  }
}

.color {
  color: #3B82F6;
  font-size: 1.75rem;
}


.container {
  max-width: 80rem;
  margin: auto;
  padding-block: 2rem;
}

@media (max-width: 1399.98px) {
  .my-products-title {
    padding: 0 0 1.5rem 0.8rem;
  }
  .products-grid {
    padding-inline: 0.8rem;
  }
}

@media (max-width: 991.98px) {
  .products-grid {
    grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
  }
}

@media (max-width: 575.98px) {
  .products-grid {
    grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
  }
  .new-product {
    height: 250px;
  }
}
