<span class="upload-file">
  <p-fileUpload
    chooseIcon="pi pi-images"
    chooseLabel="Добавить картинки"
    name="files[]"
    [fileLimit]="4"
    [customUpload]="true"
    [multiple]="true"
    [auto]="true"
    (uploadHandler)="onUpload($event)"
    (onRemove)="removeImg($event)">
    <ng-template pTemplate="toolbar">
      <p>
        Максимум 4 картинки в формате jpg, png
      </p>
    </ng-template>
  </p-fileUpload>
  <small *ngIf="imagesError" class="p-error pt-1 pl-1">
        Загрузите хотя бы 1 фотографию
  </small>
</span>
