:host ::ng-deep .p-fileupload .p-fileupload-buttonbar{
  display: flex;
  align-items: center;
}

:host ::ng-deep p-fileupload{
  width: 100%;
}

.upload-file{
    display: flex;
    align-items: center;
    max-width: 856px;
    min-height: 50px;
    margin-top: 16px;
}


@media (max-width: 575.98px) {
  :host ::ng-deep .p-fileupload-buttonbar{
    padding: 10px;
  }
  :host ::ng-deep .p-button-label{
    font-size: 14px;
  }
  p{
    font-size: 14px;
  }
}
